*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv
/venv2

*.sublime-project
*.sublime-workspace

.idea

logs/
/tensorboard_log/*
.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT
/gym_combat/gym_combat/envs/Arena/statistics/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_18/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_26_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_30_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_33_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_34_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_37_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_40_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_43_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_47_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_50_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_51_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_54_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_57_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_10_58_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_01_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_04_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_05_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_09_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_12_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_16_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_19_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_20_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_23_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_26_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_27_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_30_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_34_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_37_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_38_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_41_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_46_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_49_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_50_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_53_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_56_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_11_59_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_00_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_03_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_07_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_10_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_13_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_16_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_19_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_20_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_23_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_26_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_27_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_30_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_33_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_37_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_41_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_44_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_47_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_51_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_54_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_12_58_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_01_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_04_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_08_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_11_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_14_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_18_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_23_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_26_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_29_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_30_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_34_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_37_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_40_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_41_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_44_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_48_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_51_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_13_59_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_02_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_05_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_10_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_13_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_17_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_21_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_24_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_28_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_31_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_32_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_35_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_38_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_39_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_43_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_47_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_50_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_54_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_57_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_14_58_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_01_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_05_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_08_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_11_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_15_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_18_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_21_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_22_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_25_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_28_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_29_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_32_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_36_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_40_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_43_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_46_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_47_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_50_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_51_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_54_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_15_57_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_16_01_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_16_05_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_16_09_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/02_06_16_12_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_11_35/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_11_38/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_11_51/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_00_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_39/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_44_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_48_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_50/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/#steps_220.png
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/evaluation_statistics300.png
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/reward_statistics221.png
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/rewards_BLUE220.png
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/Statistics.csv
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_55_Berlin_NONEDETERMINISTIC_TERMINAL_STATE/win_statistics440.png
/gym_combat/gym_combat/envs/Arena/statistics/03_06_12_56/
/gym_combat/gym_combat/envs/Arena/statistics/03_06_13_07/
