*.mp4
*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv
/venv2

*.sublime-project
*.sublime-workspace

.idea

logs/
/tensorboard_log/*
/trained_models/*
/checkpoints/*
/res/*
/statistics/*

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT
/gym_combat/gym_combat/envs/Arena/statistics/*

